body {

    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    max-width: 1000px;
    margin: auto;
}

article {

    margin: 30px;
    background-color: white;
    box-shadow: 0 0 20px 0 #DDD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

article header {

    background-color: #555;
    color: white;
    padding: 20px;

}

article .main {

    padding: 20px;

}
