fieldset.likert {
    padding: 0;
    margin: 0;
    border: 0;
    display: grid;
    grid-template-columns: auto auto 1fr;
    line-height: 1.5em;
}

.likert .title {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
}

.likert input[type=radio] {
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: start;
}

.likert label {
    grid-column-start: 2;
    grid-column-end: 4;
}

.likert .likert-other {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 5px;
    max-width: 400px;
}

.likert button {
    padding: 5px;
    grid-column-start: 2;
    grid-column-end: 3;
}
