fieldset.likert {
    border: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    line-height: 1.5em;
}

.likert header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.likert input[type=radio] {
    margin: 0 0.2em 0 0;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
}

.likert label {
    grid-column-start: 2;
    grid-column-end: 3;
    line-height: 1.7em;
    padding: 0 0.3em;
}

.likert label::after {
    content:"\00a0";
}

.likert label:hover {
    background-color: #EEE;
}

.likert .likert-other {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 5px;
    max-width: 400px;
}

.likert .controls {
    grid-column-start: 1;
    grid-column-end: 3;
}

.likert.readonly details {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 1em;
}

.likert.readonly .response-text {
    margin-right: 0.5em;
}

.likert.readonly summary + div {
    margin-left: 1em;
}
