.questions > ul {
    list-style: none;
    padding: 1em;
    margin: 0;
    width: 100%;
}

.questions .question {
    margin-bottom: 2em;
    grid-template-columns: min-content auto;
    gap: 0 1em;
    align-items: center;
}

@media screen and (min-width: 1000px) {

    .questions .question {
        display: grid;
    }

}

.questions .question::before {
    float: right;
    grid-row-start: 1;
    grid-row-end: 5;
    content: " ";
    background-image: url(../../../img/broken-question.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
    width: 2em;
    height: 2em;
    align-self: flex-start;
}

.questions .text-question::before {
    background-image: url(../../../img/input.svg);
}

.questions .likert-question::before {
    background-image: url(../../../img/range.svg);
}

.questions dl, .questions dd {
    margin: 0;
    font-family: monospace;
    font-size: 0.9em;
}

.questions dl {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0.5em 1em;
    margin-bottom: 0.5em;
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.questions .title {
    font-size: 1.5em;
    display: block;
    height: 1.5em;
}

.questions .tags {
    margin: 0 0 0.5em 0;
}
