article.submissions {
    flex: 1 1 0;
}

article.submissions ul {
    margin: 0;
    padding: 1em 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

article.submissions li {
    width: 100%;
    padding: 1.5em 1em;
    overflow: hidden;
    column-gap: 0.5em;
    display: grid;
    grid-template-columns: 2em auto;
    border-left: solid 5px white;
    min-height: 2em;
    align-items: center;
}


article.submissions li time {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

article.submissions li.selected {
    border-left: solid 5px var(--light-blue);
    box-shadow: inset 0 0 1px 1px var(--light-blue);
    background-color: #EEE;
}

article.submissions li::before {
    background-image: url("../../../img/user.svg");
    background-size: contain;
    display: block;
    content: " ";
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    grid-column-start: 1;
    grid-column-end: 2;
}


article.submissions .metadata {
    display: grid;
    grid-template-columns: min-content 20em;
    overflow: hidden;
    font-family: monospace;
    gap: 0.25em;
    font-size: 0.9em;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

}

article.submissions .metadata span {
    overflow: hidden;
    text-overflow: ellipsis;
}

article.submissions .links {
    grid-column-start: 2;
    grid-column-end: 4;
}

@media screen and (min-width: 1000px) {

    article.submissions li {
        grid-template-columns: 2em 1fr min-content;
    }

    article.submissions .links {
        grid-column-start: 3;
        grid-column-end: 4;
    }

}
