ul.survey-list {
    margin: 0;
    padding: 0.5em;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

ul.survey-list li {
    width: 100%;
    padding: 1.5em 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-bottom: solid 1px silver;
}

ul.survey-list li:hover {
    background-color: #EEE;
}

ul.survey-list li::before {
    background-image: url("../../../img/survey.svg");
    background-size: contain;
    display: block;
    content: " ";
    width: 2em;
    height: 2em;
    flex-shrink: 0;
}

ul.survey-list li .title {
    flex: 3 0 0;
    word-break: break-all;
}

ul.survey-list li a {
    flex: 1 0 0;
}

@media screen and (min-width: 1000px) {
    ul.survey-list li a {
        flex: initial;
    }
}

.empty-survey-list {

    padding: 3em;

}
